{% resource 'thredds/spatial_form' %}
{% resource 'thredds/jquery.datetimepicker.full.js' %}
{% resource 'thredds/subset_datepicker.js' %}
{% resource 'thredds/stored_queries.js' %}
{% resource 'thredds/spatial-select2.js' %}
{% resource 'ccca/introjs' %}
{% resource 'ccca/introjs_addition.css' %}

{% import 'macros/form.html' as form %}

{% extends "page.html" %}

{% block subtitle %}{{ _('Create Subset') }}{% endblock %}

<!-- wrote own macro because of the title attribute, otherwise copied from CKAN -->
{% macro input(name, id='', label='', value='', placeholder='', type='text', error="", classes=[], attrs={}, is_required=false, title='') %}
    {%- set extra_html = caller() if caller -%}

    {% call form.input_block(id or name, label or name, error, classes, extra_html=extra_html, is_required=is_required) %}
      <input class="ttip" id="{{ id or name }}" title="{{ title }}" type="{{ type }}" name="{{ name }}" value="{{ value | empty_and_escape }}" placeholder="{{ placeholder }}" {{ form.attributes(attrs) }} />
    {% endcall %}
{% endmacro %}

{% block primary %}
    {% block form %}
      <div class="module-content">
          <a class="btn btn-sm pull-right" href="javascript:void(0);" onclick="javascript:introJs().setOption('tooltipClass', 'customDefault').setOption('showProgress', true).start('explain-subset');" title="Explain me this page">
              <i class="icon-question-sign icon-2x"></i>
          </a>

          <h1>Create Subset</h1>
          <form id="subset-form" method="post" enctype="multipart/form-data">
              {{ form.errors(error_summary) }}

              <input name="metadata" type="hidden" value="{{ data.metadata }}">

              <div data-step="1" data-intro-group="explain-subset" data-intro="Hi! Cool, you want to create a subset! Let me explain you how this works. So first, you have to decide which layers you want to include in your subset. {% if data.metadata.variables|length == 1 %} In this case the dataset has only one layer so you will obviously include this one layer. {% endif %}">
              <h3>Select Layers/Parameters</h3>
              {% for variable in data.metadata.variables %}
                <p><input type="checkbox" name="layers" value="{{ variable['name'] }}" {{ "checked " if variable['name'] in data.layers }}> {{ variable['description'] }} </p>
              {% endfor %}
              </div>


              {% if data.vertical %}
              <div class="division">

                  <h3>Choose Vertical Level:</h3>

                  {% set vert_label =  data.vertical|string + ' (' + data.vertical_units|string +')'%}

                 {{ form.select('vertical_level', id='field-vertical_level', label=vert_label, options=data.vertical_values, error=errors.vertical_level) }}

              </div>
              {% endif %}


              {% set user_queries, all_queries = h.get_queries_from_user(c.userobj.id) %}

              {% if user_queries|length > 0 or all_queries|length > 0 %}

                  <div class="division" data-step="2" data-intro-group="explain-subset" data-intro="Before you fill out all the arguments below you can also decide to just reuse a query that has already been used on our site. Check out the dropdown menu to see if there is something that is of interest to you.">
                   <h3>Reuse Query</h3>
                   <div name="querydiv" id="querydiv" class="btn-group">
                     <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Query Template
                     <span class="caret"></span></button>
                     <ul id="querylist" class="scrollable-menu dropdown-menu" >
                       <h5 name="dropdown_heading">Your Queries: <span class="badge">{{user_queries|length}}</span></h5>
                       {% for q in user_queries %}
                       {% set url = h.url_for(controller='package', action=url_action, id=q.pkg_id, resource_id=q.query_name) %}
                       <li data-module="stored_queries" data-module-user_queries="{{ user_queries }}" data-module-all_queries="{{ all_queries }}"><a href="#">
                          <div value="{{ q }}">
                              <h5>{{ q.query_name }}
                              <br><small>
                               {%- if q.north -%}{{ q.north }}/{% endif %}
                               {%- if q.east -%}{{ q.east }}/{% endif %}
                               {%- if q.south -%}{{ q.south }}/{% endif %}
                               {%- if q.west -%}{{ q.west }}{% endif %}
                               {%- if q.latitude -%}, {{ q.latitude }}/{% endif %}
                               {%- if q.longitude -%}{{ q.longitude }}{% endif %}
                               {%- if q.time_start -%}, {{ h.date_str_to_datetime(q.time_start) }} {% endif %}
                               {%- if q.time_end -%}- {{ h.date_str_to_datetime(q.time_end) }}{% endif %}
                               <br>
                               <span class="badge">
                               created: {{ h.date_str_to_datetime(q.created).strftime('%Y-%m-%d %H:%M:%S') }}
                               </span>
                               </small></h5>
                           </div>
                       </a></li>
                       {% endfor %}
                       {% if all_queries|length > 0 %}
                        <li id="add_all_queries" role="separator" class="divider"></li>
                        <li data-module="stored_queries" data-module-user_queries="{{ user_queries }}" data-module-all_queries="{{ all_queries }}" id="other_queries"><a href="#">Want to get other public queries? ({{ all_queries|length }} more)</a></li>
                        {% endif %}
                     </ul>
                    </div>
                    <p class="info-text">
                        Use <b>spatial</b> and <b>time</b> arguments from queries that were stored as a resource or skip that point and fill them out by yourself.
                    </p>
                </div>

            {% endif %}

            <div class="division">
              <h3>Choose Geographical Extent</h3>

              {% set default_extent = '[[' + data.metadata.coordinates.north + ', ' + data.metadata.coordinates.east + '], [' + data.metadata.coordinates.south + ', ' + data.metadata.coordinates.west + ']]' %}
              {% set map_config = h.get_common_map_config() %}
              <div class="dataset-map"
                data-module="subset-form"
                data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"
                data-module-map_config="{{ h.dump_json(map_config) }}"
                data-module-default_extent="{{ default_extent }}"
                data-step="3" data-intro-group="explain-subset" data-intro="If you want to create a subset that should not cover the whole area of the original dataset you can define here which area it should cover. Click on the rectangle button on the left to select a bounding box or click on the marker to select only a point. Go ahead and try it out!">
                <div id="dataset-map-container"></div>
              </div>
              <p class="info-text">Draw the subset extent as point or polygon on the map or select a pre-defined extent.</p>

              {% set countries = h.scheming_get_csv_objects('country_boundingboxes.csv') %}
              {% set states = h.scheming_get_json_objects('austria_states.geojson') %}
              {% set districts = h.scheming_get_json_objects('austria_districts.geojson') %}
              {% set municipalities = h.scheming_get_json_objects('austria_municipalities.geojson') %}
              <br>

              <div class="control-group" data-step="4" data-intro-group="explain-subset" data-intro="If you instead want to select a pre-defined area like 'Austria' you can select this area in this box.">
              <select class="spatial-select" id="select-extent">
                <option value="">-- Select pre-defined extent --</option>
                <optgroup label="Countries (Europe):">
                {% for area in countries %}
                     <option value="{{ area['polygon'] }}">{{ area['name'] }}</option>
                {% endfor %}
                <optgroup label="States (Austria):">
                {% for area in states %}
                  <option value="{{ area['geometry'] | replace("u'","\"") | replace("'","\"") | empty_and_escape }}">{{ area['properties']['Area_Name'].title() }}</option>
                {% endfor %}
                <optgroup label="Districts (Austria):">
                {% for area in districts %}
                  <option value="{{ area['geometry'] | replace("u'","\"") | replace("'","\"") | empty_and_escape }}">{{ area['properties']['Area_Name'].title() }}</option>
                {% endfor %}
                <optgroup label="Municipalities (Austria):">
                {% for area in municipalities %}
                  <option value="{{ area['geometry'] | replace("u'","\"") | replace("'","\"") | empty_and_escape }}">{{ area['properties']['Area_Name'].capitalize() }}</option>
                {% endfor %}
              </select>
              </div>

               <input name="spatial_name" id="spatial_name" type="hidden" value="{{ data.spatial_name if data.spatial_name is defined }}">

              <br>
              <div data-step="5" data-intro-group="explain-subset" data-intro="After selecting an area of interest the coordinates will be filled out in this section. Alternatively, you can also simply enter the coordinates of your choice.">
              <div class="left">
                  {{ input('north', id='north', label=_('North'), value=data.north|float|round(4) if data.north != "" and data.north is defined, error=errors.north, title='min: ' + data.metadata.coordinates.south + ' max: ' + data.metadata.coordinates.north, attrs={'data-placement': 'right'}) }}
              </div>
              <div class="right">
                  {{ input('east', id='east', label=_('East'), value=data.east|float|round(4) if data.east != "" and data.east is defined, error=errors.east, title='min: ' + data.metadata.coordinates.west + ' max: ' + data.metadata.coordinates.east, attrs={'data-placement': 'right'}) }}
              </div>
              <div id="southWest">
                  <div class="left">
                      {{ input('south', id='south', label=_('South'), value=data.south|float|round(4) if data.south != "" and data.south is defined, error=errors.south, title='min: ' + data.metadata.coordinates.south + ' max: ' + data.metadata.coordinates.north, attrs={'data-placement': 'right'}) }}
                  </div>
                  <div class="right">
                      {{ input('west', id='west', label=_('West'), value=data.west|float|round(4) if data.west != "" and data.west is defined, error=errors.west, title='min: ' + data.metadata.coordinates.west + ' max: ' + data.metadata.coordinates.east, attrs={'data-placement': 'right'}) }}
                  </div>
             </div>
             </div>
            </div>


            {% if data.metadata.temporal_start %}
            <div class="division" data-step="6" data-intro-group="explain-subset" data-intro="Additionally, you can select a time range for your subset. When clicking on the fields you see the minimum and maximum values for this dataset. If you do not define a time range the system takes the time slice closest to the current date!">
                <h3>Choose Time Range</h3>
                {% set start = h.date_str_to_datetime(data.metadata.temporal_start[:-1]) %}
                {% if data.metadata.temporal_end %}
                    {% set end = h.date_str_to_datetime(data.metadata.temporal_end[:-1]) %}
                {% else %}
                  {% set end = '' %}
                {% endif %}
                <div class="left">
                    {{ input('time_start', title='min: ' + start|string, id='time_start', label=_('From'), value=data.time_start, error=errors.time_start, attrs={'data-module': 'subset_datepicker','data-module-year_start': start.year, 'data-module-year_end': end.year, 'data-placement': 'right'}) }}
                </div>
                <div class="right">
                    {{ input('time_end', title='max: ' + end|string, id='time_end', label=_('To'), value=data.time_end, error=errors.time_end, attrs={'data-module': 'subset_datepicker','data-module-year_start': start.year, 'data-module-year_end': end.year, 'data-placement': 'right'}) }}
                </div>
                <p class="info-text">If no time range is chosen, the nearest point in time is taken.</p>
            </div>
            {% endif %}

            {% if data.create_pkg == True %}
              <div class="division">
                  <h3 data-step="7" data-intro-group="explain-subset" data-intro="Now you need to decide whether you want to just download your subset or if you want to create a new dataset on this site.">Would you like to create a new resource within the CCCA data portal?</h3>
                  <div data-step="8" data-intro-group="explain-subset" data-intro="If you just want to download the file you need to decide in which format you want to have it. Bounding boxes are only available in NetCDF, points are available in all 3 formats.">
                      <input type="radio" name="type" value="download" {{ "checked " if data.type == "download" or data.type is not defined }} id="download"> <b>No</b>, just download the subset <br><br>

                      <div class="well" id="download_well" style="display:none">
                          <label class="control-label">Format</label>
                          <p>
                          <input type="radio" name="format" id="radio_netcdf" value="netCDF" {{ "checked " if data.format|lower == "netcdf" or data.format is not defined }}> netCDF &emsp;
                          <input type="radio" name="format" id="radio_csv" value="CSV" {{ "checked " if data.format|lower == "csv" }} {{ "disabled" if data.point == False or data.point is not defined }}> CSV &emsp;
                          <input type="radio" name="format" id="radio_xml" value="XML" {{ "checked " if data.format|lower == "xml" }} {{ "disabled" if data.point == False or data.point is not defined }}> XML
                          </p>
                          <p class="info-text">XML and CSV can only be chosen if the subset coordinates were drawn as a point.</p>
                      </div>
                 </div>

                  <div data-step="9" data-intro-group="explain-subset" data-intro="If you want to add a new dataset on this site click this button. Here you need to define a dataset title, resource title and an organization. You can still rename your dataset and resource afterwards. Furthermore, you must define if you want your dataset to be public or private. Keep in mind that once you set the dataset public you cannot set it private again nor delete it. So if you are not sure simply select private. You can still set the dataset public afterwards. Don't be shy, the dataset will not yet be created, so please press the button after this tour!">
                  <input type="radio" name="type" value="create_resource" {{ "checked " if data.type == "create_resource" }} id="create_resource"> <b>Yes</b> <br><br>

                  <div class="well" id="create_resource_well" style="display:none;overflow: hidden;">
                      <div class="left-well">
                          {{ form.input('package_title', id='field-title', label=_('Dataset Title'), value=data.package_title, error=errors.package_title, placeholder=_('eg. A descriptive title'), attrs={'data-module': 'slug-preview-target'}) }}

                          {% set prefix = h.url_for(controller='package', action='read', id='') %}
                          {% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
                          {% set domain = domain|replace("http://", "")|replace("https://", "") %}
                          {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<name>'} %}

                          {{ form.prepend('package_name', id='field-name', label=_('URL'), value=data.package_name, error=errors.package_name, prepend=prefix, placeholder=_('eg. my-datapackage'), attrs=attrs, is_required=true) }}

                          {{ form.select('organization', label=_('Organization'), options=data.organizations, selected=data.organization) }}
                      </div>
                      <div class="right">
                          {{ form.input('resource_name', id='field-res-name-1', label=_('Resource Name'), value=data.resource_name if data.resource_name is defined else 'subset_' + data.res_name, error=errors.resource_name) }}

                      <h4> Should the resource be quotable? (dataset becomes public and cannot be set private again) </h4>
                      <input type="radio" name="private" value="False" {{ "checked " if data.private == "False" }}> Yes &emsp;
                      <input type="radio" name="private" value="True" {{ "checked " if data.private == "True" or data.private is not defined }}> No, maybe at a later point
                      </div>
                  </div>
              </div>
              </div>
            {% endif %}

            <div class="form-actions">
              <button class="btn btn-primary save" type="submit" name="save">{{ _('Submit') }}</button>
           </div>
          </form>
      </div>

      <link rel="stylesheet" href="/css/subset.css"/>
      <link rel="stylesheet" type="text/css" href="/css/subset_jquery.datetimepicker.css"/>
    {% endblock %}
{% endblock %}
