{% extends "dataviewer/base.html" %}

{% block page %}
    {% resource 'thredds/wms' %}
    {% resource 'thredds/wms_view.js' %}

  <link rel="stylesheet" href="/css/leaflet.css" />
  <link rel="stylesheet" href="/css/Control.FullScreen.css" />
  <link rel="stylesheet" href="/css/leaflet.timedimension.control.css" />
  <link rel="stylesheet" href="/css/style.css" />

    <div class="container">
        <div id="menu" class="menu-wrapper"></div>
    </div>
    <div class="container">
        <div id="map" class="map" data-module="wms_view"
             data-module-resource_id="{{ resource_id }}"
             data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"
        </div>
    </div>
    <div class="container">
        <div id="chart" class="chart-wrapper"></div>
    </div>
{% endblock %}
