#dataset_subsets {
    margin-top: 10px;
    margin-left:20px;
}
#subset_list {
    display: inline-block
}
#subset_list li {
    padding-bottom: 10px;
 }
#subset_list li:hover {
    opacity: 1.0;
}
#subset_list:hover > li:not(:hover) {
    opacity: 0.5;
}
#subset_list li a {
    color: black;
}
