[IE conditional]


[groups]

wms =
    css/leaflet.css
    css/Control.FullScreen.css
    css/leaflet.timedimension.control.css
    css/style.css

    js/leaflet/leaflet.js
    js/leaflet.fullscreen/Control.FullScreen.js
    js/Leaflet.NonTiledLayer/NonTiledLayer.js
    js/Leaflet.NonTiledLayer/NonTiledLayer.WMS.js
    js/highstock.js
    js/Leaflet.TimeDimension/leaflet.timedimension.js
    js/Leaflet.TimeDimension/leaflet.timedimension.util.js
    js/Leaflet.TimeDimension/leaflet.timedimension.layer.js
    js/Leaflet.TimeDimension/leaflet.timedimension.layer.wms.js
    js/Leaflet.TimeDimension/leaflet.timedimension.layer.geojson.js
    js/Leaflet.TimeDimension/leaflet.timedimension.player.js
    js/Leaflet.TimeDimension/leaflet.timedimension.control.js
    js/Leaflet.TimeDimension/leaflet.timedimension.circlelabelmarker.js
    js/Leaflet.TimeDimension/leaflet.timedimension.layer.wms.timeseries.js
    js/baselayers.js
    js/wms_view.js
